---
import MainLayout from "@layouts/MainLayout.astro";
import CardPost from "@components/CardPost.astro";
import CategoryCloud from "@components/CategoryCloud.astro";
import CardProfile from "@components/CardProfile.astro";
import Container from "@components/Container.astro";

import { Icon } from 'astro-icon/components';

import { getCollection } from 'astro:content';
const blogEntries = await getCollection('blog');
blogEntries.sort( (a, b) => {
	return new Date(b.data.publishDate) - new Date(a.data.publishDate);
});
---
<MainLayout>
    <Container class="py-8 grid md:grid-cols-2 lg:grid-cols-3 gap-10">
        <div class="lg:col-span-2 rounded-2xl">
            <h1 class="text-3xl font-bold mb-8 text-yellow-500">Blog Post</h1>
            <div class="grid md:grid-cols-2 gap-8">
                { blogEntries.map( blog => <CardPost post={blog} /> )}
            </div>
        </div>

        <div class="rounded-2xl space-y-8">
            <CardProfile />
            <CategoryCloud />
        </div>
    </Container>
</MainLayout>

