---
import MainLayout from "../../layouts/MainLayout.astro";
import CardPost from "../../components/CardPost.astro";
import CategoryCloud from "../../components/CategoryCloud.astro";
import CardProfile from "../../components/CardProfile.astro";

import { Icon } from 'astro-icon/components';

import { getCollection } from 'astro:content';
const blogEntries = await getCollection('blog');
blogEntries.sort( (a, b) => {
	return new Date(b.data.publishDate) - new Date(a.data.publishDate);
});
---
<MainLayout>
    <div class="max-w-screen-xl mx-auto py-4 px-4">
        <nav aria-label="Breadcrumb" class="mb-8">
            <ol class="flex items-center gap-1 text-sm text-zinc-600 dark:text-zinc-300">
                <li>
                    <a href="/" class="block transition hover:text-zinc-700">Home</a>
                </li>

                <li class="rtl:rotate-180">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-4 w-4"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                >
                    <path
                    fill-rule="evenodd"
                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                    clip-rule="evenodd"
                    />
                </svg>
                </li>

                <li>
                    Blog
                </li>
            </ol>
        </nav>

        <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-10">
            <div class="lg:col-span-2 p-5 rounded-2xl">
                <h1 class="text-3xl font-bold mb-8 text-yellow-500">Blog Post</h1>
                <div class="grid md:grid-cols-2 gap-8">
                    {
                        blogEntries.map( blog => (
                            <CardPost post={blog} />
                        ))
                    }
                </div>
            </div>

            <div class="rounded-2xl space-y-8">
                <CardProfile />
                <CategoryCloud />
            </div>
        </div>
    </div>
</MainLayout>

