---
import { Image } from "astro:assets";
import MainLayout from "@layouts/MainLayout.astro";
import CardPost from "@components/CardPost.astro";

import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const blogEntries = await getCollection('blog');
  return blogEntries.map(entry => ({
    params: { cat: entry.data.categories }, props: { entry },
  }));
}

const { entry } = Astro.props;

const allCat = await getCollection('blog' , ({data})=> {
  return data.categories === entry.data.categories;
});
---

<MainLayout>
    <div class="max-w-screen-xl px-4 lg:px-0 mx-auto py-8 space-y-8">
        <h1 class="md:text-center text-xl md:text-2xl font-bold text-yellow-500">All categories : {entry.data.categories}</h1>

        <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-10">
            {
                allCat.map(cat => <CardPost post={cat} /> )
            }
        </div>
    </div>
</MainLayout>
